
/* Card */









/* Shelf CSS */

:root{
    --back-shadow: #7d83dd;
    --front-edge: #24263e;
    --page-color: #01020D; 
  }
  body {
    background-color: var(--page-color);
  }
  .shelf {
    caret-color: var(--page-color);
    display: block;
    position: relative;
    width: 70%;
    height: 25px;
    margin: 150px 0 0 36px;
    /* background-image: -moz-linear-gradient(90deg, var(--top-surface) 0%, #eff1f3 100%); */
    /*FF3.6+ */
    /* background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(0%, var(--top-surface)), color-stop(100%, #eff1f3)); */
    /*Chrome,Safari4+ */
    /* background-image: -webkit-linear-gradient(90deg, var(--top-surface) 0%, #eff1f3 100%); */
    /*Chrome10+,Safari5.1+ */
    /* background-image: -o-linear-gradient(90deg, var(--top-surface) 0%, #eff1f3 100%); */
    /* Opera 11.10+ */
    /* background-image: -ms-linear-gradient(90deg, var(--top-surface) 0%, #eff1f3 100%); */
    /*IE10+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f3', endColorstr='var(--top-surface)', GradientType='0' ); */
    /* IE6-9 */
    /* -webkit-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0; */
    /* -moz-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0; */
    box-shadow: 0 2px 2px var(--front-edge), 0 4px 0 var(--front-edge), 0 15px 30px -8px var(--back-shadow), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  }
  .bookend_left {
    display: block;
    position: absolute;
    left: -25px;
    top: -18px;
    width: 36px;
    height: 36px;
    background-color: var(--page-color);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
  .bookend_left:before {
    position: absolute;
    top: 31px;
    left: 17px;
    width: 20px;
    height: 10px;
    background-color: var(--page-color);
    content: "";
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
  }
  .bookend_right {
    display: block;
    position: absolute;
    right: -25px;
    top: -18px;
    width: 36px;
    height: 36px;
    background-color: var(--page-color);
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
  }
  .bookend_right:before {
    position: absolute;
    top: 31px;
    right: 17px;
    width: 20px;
    height: 10px;
    background-color: var(--page-color);
    content: "";
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
  }
  .shelf .reflection {
    display: block;
    position: absolute;
    top: 20px;
    left: 1px;
    width: 99.8%;
    height: 1px;
    /* background-image: -moz-linear-gradient(0deg, var(--page-color) 0%, rgba(255, 255, 255, 0.5) 35%, var(--page-color) 65%, rgba(255, 255, 255, 0.7) 100%); */
    /*FF3.6+ */
    /* background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--page-color)), color-stop(35%, rgba(255, 255, 255, 0.5)), color-stop(65%, var(--page-color)), color-stop(100%, rgba(255, 255, 255, 0.7))); */
    /*Chrome,Safari4+ */
    /* background-image: -webkit-linear-gradient(0deg, var(--page-color) 0%, rgba(255, 255, 255, 0.5) 35%, var(--page-color) 65%, rgba(255, 255, 255, 0.7) 100%); */
    /* Chrome10+,Safari5.1+ */
    /* background-image: -o-linear-gradient(0deg, var(--page-color) 0%, rgba(255, 255, 255, 0.5) 35%, var(--page-color) 65%, rgba(255, 255, 255, 0.7) 100%); */
    /* Opera 11.10+ */
    /* background-image: -ms-linear-gradient(0deg, var(--page-color) 0%, rgba(255, 255, 255, 0.5) 35%, var(--page-color) 65%, rgba(255, 255, 255, 0.7) 100%); */
    /*IE10+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0.7)', endColorstr='var(--page-color)', GradientType='0' ); */
    /* IE6-9 */
  }