@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700;900&&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply p-1 h-8 w-8 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }
}



:root {
  --back-shadow: #3a3e6f;
  --front-edge: #24263e;
  --page-color: #090A1A;
  --speed: 500ms;
  --color-1: #563e2e;
  --color-2: #d77d37;
  --color-3: #e8a545;
  --stroke: #563e2e;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--page-color);
  width: 100%;
  height: 100%;
}

.dud {
  color: #757575;
}
/* Retro Film Animation */

@keyframes change-colors {
  0% {
    --color-1: #563e2e;
    --color-2: #d77d37;
    --color-3: #e8a545;
  }

  33% {
    --color-2: #563e2e;
    --color-3: #d77d37;
    --color-1: #e8a545;
  }

  66% {
    --color-3: #563e2e;
    --color-1: #d77d37;
    --color-2: #e8a545;
  }

  100% {
    --color-1: #563e2e;
    --color-2: #d77d37;
    --color-3: #e8a545;
  }
}


.retro {
  font-family: "Oleo Script Swash Caps", cursive;
  color: #f6ce91;
  text-shadow: 0.01em 0.01em var(--color-1), 0.02em 0.02em var(--color-1), 0.03em 0.03em var(--color-1), 0.04em 0.04em var(--color-1), 0.05em 0.05em var(--color-1), 0.06em 0.06em var(--color-1), 0.07em 0.07em var(--color-1), 0.08em 0.08em var(--color-1), 0.09em 0.09em var(--color-1), 0.1em 0.1em var(--color-1), 0.11em 0.11em var(--color-1), 0.12em 0.12em var(--color-1), 0.13em 0.13em var(--color-1), 0.14em 0.14em var(--color-1), 0.15em 0.15em var(--color-1), 0.16em 0.16em var(--color-1), 0.17em 0.17em var(--color-1), 0.18em 0.18em var(--color-1), 0.19em 0.19em var(--color-1), 0.2em 0.2em var(--color-1), 0.21em 0.21em var(--color-2), 0.22em 0.22em var(--color-2), 0.23em 0.23em var(--color-2), 0.24em 0.24em var(--color-2), 0.25em 0.25em var(--color-2), 0.26em 0.26em var(--color-2), 0.27em 0.27em var(--color-2), 0.28em 0.28em var(--color-2), 0.29em 0.29em var(--color-2), 0.3em 0.3em var(--color-2), 0.31em 0.31em var(--color-2), 0.32em 0.32em var(--color-2), 0.33em 0.33em var(--color-2), 0.34em 0.34em var(--color-2), 0.35em 0.35em var(--color-2), 0.36em 0.36em var(--color-2), 0.37em 0.37em var(--color-2), 0.38em 0.38em var(--color-2), 0.39em 0.39em var(--color-2), 0.4em 0.4em var(--color-2), 0.41em 0.41em var(--color-3), 0.42em 0.42em var(--color-3), 0.43em 0.43em var(--color-3), 0.44em 0.44em var(--color-3), 0.45em 0.45em var(--color-3), 0.46em 0.46em var(--color-3), 0.47em 0.47em var(--color-3), 0.48em 0.48em var(--color-3), 0.49em 0.49em var(--color-3), 0.5em 0.5em var(--color-3), 0.51em 0.51em var(--color-3), 0.52em 0.52em var(--color-3), 0.53em 0.53em var(--color-3), 0.54em 0.54em var(--color-3), 0.55em 0.55em var(--color-3), 0.56em 0.56em var(--color-3), 0.57em 0.57em var(--color-3), 0.58em 0.58em var(--color-3), 0.59em 0.59em var(--color-3), 0.6em 0.6em var(--color-3);
  animation: change-colors 1.5s linear 0s infinite;

}

.CARD {
  position: relative;

  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #171616;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}


.card_title {
  color: #ffffff;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  opacity: 0;
  transition: opacity .5s;
}

.CARD:hover .card_content {
  transform: translateY(0);
}

.CARD:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}


.bgtry {
  box-shadow: 20px 15px 20px -5px rgba(10, 0, 50, 0.5);
}



/* FestCardCSS  */
.card {
  width: 190px;
  height: 254px;
  position: relative;
  background: #f5f5f5;
  transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--page-color);
}

.card-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card-icon {
  opacity: 0;
  transform: translateX(-20%);
  width: 2em;
  height: 2em;
  transition: all .3s ease-in-out;
}

svg {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

/*Text*/
p {
  line-height: 140%;
}

.text-title {
  font-weight: 900;
  font-size: 18px;
}

.text-subtitle {
  color: #e8e8e8;
  font-weight: 500;
  font-size: 16px;
}

/*Hover*/
.card:hover {
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

.card:hover .card-icon {
  opacity: 1;
  transform: translateX(20%);
}
