@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700;900&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply p-1 h-8 w-8 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }
}

:root {
  --back-shadow: #3a3e6f;
  --front-edge: #24263e;
  --page-color: #090A1A;
  --color-primary: #5F4DFF;
  --speed: 500ms;
}

body {
  font-family: 'Comfortaa', sans-serif;
  background-color: var(--page-color);
  width: 100%;
  height: 100%;
}
.comfort{
  font-family: 'Comfortaa', sans-serif;

}

.kanit{
  font-family: 'Kanit', sans-serif;
}
.orbi{
  font-family: 'Orbitron', sans-serif;
}
.caveat{
  font-family: 'Caveat', cursive;
}
.wrap {
  width: 100%;
  height: 1000px;

  position: relative;
  margin: 0 auto;
  top: -250px;
  perspective: 360px;
  perspective-origin: 50% 50%;
  overflow: hidden;

}

.top-plane,
.bottom-plane {
  width: 200%;
  height: 130%;
  position: absolute;
  bottom: -60%;
  left: -50%;
  background-image: -webkit-linear-gradient(#a2cef4 2px, transparent 2px), -webkit-linear-gradient(left, #a2cef4 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(85deg);
  animation: planeMoveTop 2s infinite linear;
}

.bottom-plane {
  transform: rotateX(-85deg);
  top: -40%;
  animation: planeMoveBot 2s infinite linear;
}

@keyframes planeMoveTop {
  from {
    background-position: 0px -100px, 0px 0px;
  }

  to {
    background-position: 0px 0px, 100px 0px;
  }
}

@keyframes planeMoveBot {
  from {
    background-position: 0px 0px, 0px 0px;
  }

  to {
    background-position: 0px -100px, 100px 0px;
  }
}

@media (max-height: 350px) {
  .wrap {
    perspective: 210px;
  }
}


/* Title */





.headerTitle {
  /* display: inline-block; */
  color: white;
  /* font-size: 10rem;  */
  text-shadow: .06em .06em 0 hsla(230, 40%, 50%, 1);
  z-index: 99;
}
p{
  
  z-index: 99;
}

/* h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    } */

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}


/* Wheel */


/* header */
header { 
  display: grid; 
  align-items: center;
  width: min(60rem, 100%);
  margin-inline: auto;
}
header :is(.orbits, .content){ grid-area: 1/1 }

/* content */
.content { place-self: center; text-align:center; max-width: 40ch }
.content > h1 { font-weight: 800 }
/* .content > h1 > span { color: hsl(350 100% 50%) } */

/* orbits */
.orbits {  
  --orbit-outer-size: 100%;
  --orbit-inner-size: 75%;
  --orbit-image-size: min(6vw, 5rem);
  --orbit-ring-color: hsl(0 0% 50% / .75);
  --orbit-ring-thickness: 1px;
  --orbit-animation-duration: 10s;

  display: grid;
  grid-template-columns: 1fr 1fr;
  --mask-image: radial-gradient(circle at center, transparent 40%, black 50%);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  overflow: hidden;
  z-index: -1;
}
.orbits :is(.left, .right, .outer, .inner) { display: grid; aspect-ratio: 1/1 }
.orbits .left { place-items: center end }
.orbits .right { place-items: center start }

.orbits :is(.outer, .inner){
  grid-area: 1/1;
  width: calc(var(--width) - var(--orbit-image-size));
  border: var(--orbit-ring-thickness) solid var(--orbit-ring-color);
  border-radius: 50%;
  animation: orbit-rotate var(--orbit-animation-duration) linear infinite;
}
.orbits .outer { --width: var(--orbit-outer-size) }
.orbits .inner { --width: var(--orbit-inner-size) }

.orbits [data-orbit-rotate="left"] { --orbit-rotate-to: -360deg }
.orbits [data-orbit-rotate="right"]{ --orbit-rotate-to:  360deg }

.orbits .outer img { 
  grid-area: 1/1;
  width: var(--orbit-image-size);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  --translate: translateX(var(--tx, 0)) translateY(var(--ty, 0));
  transform: var(--translate);
  animation: orbit-image-rotate var(--orbit-animation-duration) linear infinite;
  place-self: var(--ps)
}
.orbits .inner img { 
  grid-area: 1/1;
  width: min(4vw, 4rem);
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  --translate: translateX(var(--tx, 0)) translateY(var(--ty, 0));
  transform: var(--translate);
  animation: orbit-image-rotate var(--orbit-animation-duration) linear infinite;
  place-self: var(--ps)
}
.orbits img:nth-child(1) { --ps: start center; --ty: -50% }
.orbits img:nth-child(2) { --ps: center end  ; --tx:  50% }
.orbits img:nth-child(3) { --ps: end center  ; --ty:  50% }
.orbits img:nth-child(4) { --ps: center start; --tx: -50% }

/* .orbits :is(.outer, .inner):hover,
.orbits :is(.outer, .inner):hover img{
  animation-play-state: paused;
} */

@keyframes orbit-rotate { to { transform: rotate(var(--orbit-rotate-to)) } }
@keyframes orbit-image-rotate { to { transform: var(--translate) rotate(calc(var(--orbit-rotate-to) * -1)) } } 

/* PRIZES */



.typewriter {
  --blue: #5C86FF;
  --blue-dark: #275EFE;
  --key: #fff;
  --paper: #EEF0FD;
  --text: #D3D4EC;
  --tool: #FBC56C;
  --duration: 3s;
  position: relative;
  -webkit-animation: bounce05 var(--duration) linear infinite;
  animation: bounce05 var(--duration) linear infinite;
}

.typewriter .slide {
  width: 92px;
  height: 20px;
  border-radius: 3px;
  margin-left: 14px;
  transform: translateX(14px);
  background: linear-gradient(var(--blue), var(--blue-dark));
  -webkit-animation: slide05 var(--duration) ease infinite;
  animation: slide05 var(--duration) ease infinite;
}

.typewriter .slide:before, .typewriter .slide:after,
.typewriter .slide i:before {
  content: "";
  position: absolute;
  background: var(--tool);
}

.typewriter .slide:before {
  width: 2px;
  height: 8px;
  top: 6px;
  left: 100%;
}

.typewriter .slide:after {
  left: 94px;
  top: 3px;
  height: 14px;
  width: 6px;
  border-radius: 3px;
}

.typewriter .slide i {
  display: block;
  position: absolute;
  right: 100%;
  width: 6px;
  height: 4px;
  top: 4px;
  background: var(--tool);
}

.typewriter .slide i:before {
  right: 100%;
  top: -2px;
  width: 4px;
  border-radius: 2px;
  height: 14px;
}

.typewriter .paper {
  position: absolute;
  left: 24px;
  top: -26px;
  width: 40px;
  height: 46px;
  border-radius: 5px;
  background: var(--paper);
  transform: translateY(46px);
  -webkit-animation: paper05 var(--duration) linear infinite;
  animation: paper05 var(--duration) linear infinite;
}

.typewriter .paper:before {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 7px;
  border-radius: 2px;
  height: 4px;
  transform: scaleY(0.8);
  background: var(--text);
  box-shadow: 0 12px 0 var(--text), 0 24px 0 var(--text), 0 36px 0 var(--text);
}

.typewriter .keyboard {
  width: 120px;
  height: 56px;
  margin-top: -10px;
  z-index: 1;
  position: relative;
}

.typewriter .keyboard:before, .typewriter .keyboard:after {
  content: "";
  position: absolute;
}

.typewriter .keyboard:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  background: linear-gradient(135deg, var(--blue), var(--blue-dark));
  transform: perspective(10px) rotateX(2deg);
  transform-origin: 50% 100%;
}

.typewriter .keyboard:after {
  left: 2px;
  top: 25px;
  width: 11px;
  height: 4px;
  border-radius: 2px;
  box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  -webkit-animation: keyboard05 var(--duration) linear infinite;
  animation: keyboard05 var(--duration) linear infinite;
}

@keyframes bounce05 {
  85%, 92%, 100% {
    transform: translateY(0);
  }

  89% {
    transform: translateY(-4px);
  }

  95% {
    transform: translateY(2px);
  }
}

@keyframes slide05 {
  5% {
    transform: translateX(14px);
  }

  15%, 30% {
    transform: translateX(6px);
  }

  40%, 55% {
    transform: translateX(0);
  }

  65%, 70% {
    transform: translateX(-4px);
  }

  80%, 89% {
    transform: translateX(-12px);
  }

  100% {
    transform: translateX(14px);
  }
}

@keyframes paper05 {
  5% {
    transform: translateY(46px);
  }

  20%, 30% {
    transform: translateY(34px);
  }

  40%, 55% {
    transform: translateY(22px);
  }

  65%, 70% {
    transform: translateY(10px);
  }

  80%, 85% {
    transform: translateY(0);
  }

  92%, 100% {
    transform: translateY(46px);
  }
}

@keyframes keyboard05 {
  5%, 12%, 21%, 30%, 39%, 48%, 57%, 66%, 75%, 84% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  9% {
    box-shadow: 15px 2px 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  18% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 2px 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  27% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 12px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  36% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 12px 0 var(--key), 60px 12px 0 var(--key), 68px 12px 0 var(--key), 83px 10px 0 var(--key);
  }

  45% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 2px 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  54% {
    box-shadow: 15px 0 0 var(--key), 30px 2px 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  63% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 12px 0 var(--key);
  }

  72% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 2px 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 10px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }

  81% {
    box-shadow: 15px 0 0 var(--key), 30px 0 0 var(--key), 45px 0 0 var(--key), 60px 0 0 var(--key), 75px 0 0 var(--key), 90px 0 0 var(--key), 22px 10px 0 var(--key), 37px 12px 0 var(--key), 52px 10px 0 var(--key), 60px 10px 0 var(--key), 68px 10px 0 var(--key), 83px 10px 0 var(--key);
  }
}

/*  */



.box-with-text {
  background-image: -webkit-linear-gradient(white 40%, black 40%);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100% 16px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes .5s linear infinite;
  animation: stripes .5s linear infinite;
}

@-webkit-keyframes stripes {
  100% {
    background-position: 0 -16px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -16px;
  }
}
/* Other stuff */

.box-with-text {
  position: relative;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  text-align: left;
  text-transform: uppercase;
  font: bold 8vmax/.8 Open Sans, Impact;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*  */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);
  position: relative;
  box-shadow: 0 25px 50px rgba(0,0,0,0.55);
  cursor: pointer;
  transition: all .3s;
}

.card_box:hover {
  transform: scale(0.9);
}

.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Premium';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
/*  */

.festButton {
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid rgb(62, 85, 235);
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px rgb(10, 145, 111);
}

.festButton:hover {
  transform: translate(5px, -5px);
}
/*  */

.textt {
  color: #f5f5f5;
  text-shadow: 10px   0px 0px #5925ca,
     
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

/* prfile cards */

.cardd {
 width: 190px;
 height: 254px;
 background: #3405a3;
 border-radius: 15px;
 margin: 20px;
 box-shadow: 1px 5px 60px 0px #100a886b;
}


.cardd .cardd-border-top {
 width: 60%;
 height: 3%;
 background: #6b64f3;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.cardd span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}

.cardd .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}

.cardd .img {
 width: 70px;
 height: 80px;
 background: #6b64f3;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.cardd button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #6b64f3;
 color: white;
 font-weight: 600;
}

.cardd button:hover {
 background: #534bf3;
}



.carddd {
  width: 190px;
  height: 254px;
  background: var(--front-edge);
  border-radius: 15px;
  margin: 20px;
  box-shadow: 1px 5px 60px 0px #100a886b;
 }
 
 
 .carddd .carddd-border-top {
  width: 60%;
  height: 3%;
  background: var(--back-shadow);
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .carddd span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .carddd .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
 }
 
 .carddd .img {
  width: 70px;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
 }
 
 .carddd button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  background: #373472;
  color: white;
  font-weight: 600;
 }
 
 .carddd button:hover {
  background: var(--back-shadow);
 }
 
 /*  */

 
blockquote {
	font-weight: 100;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
}



cite {
	line-height: 3;
	text-align: left;
}





